@import "../../less/variables.less";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
  background: rgba(0, 0, 0, 0.3);
}

.flex-fix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 4;
}

.logo-wrapper {
  padding: 0 @paddings[lg];
  flex: 1;
  min-width: 300px;
}

h2 {
  color: darkcyan;
  background: linear-gradient(#232323, #e4cb9d, #88d40e, #a13434, #232323);
  background: -webkit-linear-gradient(#232323, #e4cb9d, #88d40e, #a13434, #232323);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 2px #3a3e5c;
}

.search-wrapper {
  position: relative;
  flex: 1;
  min-width: 300px;
}

.search-results {
  position: absolute;
  width: 100%;
  background: #4e6f7e;
  z-index: 1;
}

ul {
  margin-bottom: 2px;
}

li {
  display: flex;
  padding: @paddings[md];
  background: rgba(0,0,0,0.1);
  cursor: pointer;
}

.user-nav {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: flex-end;
}

.logout,
.profile-link {
  padding: @paddings[sm];
}

.logout {
  margin: 0 24px;
}

app-user-head {
  width: 100%;
}