<header>
  <div class="logo-wrapper">
    <h2>LingoChat</h2>
  </div>
  <div class="flex-fix">
    <div class="search-wrapper" id="searchArea">
      <input class="form-control" [(ngModel)]="searchUsers" type="text" placeholder="Search">
      <div *ngIf="searchUsers" class="search-results">
        <ul *ngFor="let user of usersArr | filter: searchUsers">
          <li>
            <app-user-head [user]="user">
              <div class="float-right" *ngIf="!checkFriendship(user.id)">
                <button type="button" class="btn btn-info float-right" (click)="addFriend()">Add Friend</button>
              </div>
            </app-user-head>
          </li>
        </ul>
      </div>
    </div>
    <nav class="user-nav">
      <div class="profile-link">
        <a routerLink="#">{{loggedUser$ | async}}</a>
      </div>
      <div class="logout">
        <button type="button" (click)="logout()" class="btn btn-danger">Logout</button>
      </div>
    </nav>
  </div>
</header>
