<header>
  <div class="logo-wrapper">
    <h2><a routerLink="/">LingoChat</a></h2>
  </div>
  <div class="flex-fix">
    <div class="search-wrapper" id="searchArea">
      <input class="form-control" [(ngModel)]="searchUsers" type="text" placeholder="Search">
      <div *ngIf="searchUsers" class="search-results">
        <ul *ngFor="let user of usersArr | filter: searchUsers">
          <li>
            <app-user-head [user]="user">
              <div class="float-right" *ngIf="!checkFriendship(user.id)">
                <button type="button" class="btn btn-info" *ngIf="!isRequestPending(user.id)" (click)="addFriend(user)">Add Friend</button>
                <div class="btn btn-secondary" *ngIf="isRequestPending(user.id)">Request sent</div> 
              </div>
            </app-user-head>
          </li>
        </ul>
      </div>
    </div>
    <nav class="user-nav">
      <div class="profile-link">
        <a routerLink="/user-profile" *ngIf="isInChatRoom()">{{loggedUser$ | async}}</a>
        <a routerLink="/chat-room" *ngIf="!isInChatRoom()">Back</a>
      </div>
      <div class="logout">
        <button type="button" (click)="logout()" class="btn btn-danger">Logout</button>
      </div>
    </nav>
  </div>
</header>
