@import "../../less/variables.less";

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
  background: rgba(0, 0, 0, 0.3);
}

.flex-fix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 4;
}

.logo-wrapper {
  padding: 0 @paddings[lg];
  flex: 1;
  min-width: 300px;
}

h2 {
  color: darkcyan;
  background: linear-gradient(#232323, #e4cb9d, #88d40e, #a13434, #232323);
  background: -webkit-linear-gradient(#232323, #e4cb9d, #88d40e, #a13434, #232323);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 2px #3a3e5c;
}

.search-wrapper {
  position: relative;
  flex: 1;
  min-width: 300px;
}

.search-results {
  position: absolute;
  width: 100%;
  background: @dropdown-color;
  z-index: 1;
}

ul {
  margin-bottom: 2px;
}

li {
  display: flex;
  flex-direction: column;
  padding: @paddings[md];
  border-bottom: 1px solid #56618f;
  cursor: pointer;
  margin-bottom: 2px;
}

li:last-child {
  border-bottom: none;
}

li > div > .chatHeadImg {
  margin-right: -10px;
}

.user-nav {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: flex-end;
}

.logout,
.profile-link,
.notifications {
  padding: @paddings[sm];
  margin-right: 24px;
  cursor: pointer;
}

.notifications {
  position: relative;
  border-radius: 6px;
  background: transparent;
}

.notificationMenu {
  width: 450px;
  position: absolute;
  top:0;
  border-radius: 6px;
  left: -470px;
  background: @dropdown-color;
  box-shadow: 1px 1px 2px @dropdown-color;
}

.notificationMenu:after {
  content: '';
  position: absolute;
  left: 430px;
  top: 15px;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: @dropdown-color;
  z-index: -1;
}

.notfNum {
  position: absolute;
  color: wheat;
  font-size: 0.7rem;
  text-align: center;
  left:50%;
  top:10%;
  background-color: #dc3545;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

app-user-head {
  width: 100%;
}