<div class="chatInfo"> 
    <div class="headContent">
        <div class="chatHeadImg">
            <img>
        </div>
        <div class="chatHeadName">
            {{user.firstName + ' ' + user.lastName}}
        </div>
    </div>
    <div class="queryContent">
        <div *ngIf="isFriend && parent === 'chatUnit'">
            <a (click)="exitChat()" class="close" aria-label="Close">&times;</a>
        </div>
    
        <div *ngIf="!isFriend && parent === 'header'" class="float-right">
            <button type="button" class="btn btn-info float-right" (click)="addFriend()">Add Friend</button>
        </div>
    
        <div *ngIf="isFriend && parent === 'friendList'"> 
            <span class="online"></span>
            <span class="offline"></span>
        </div>
    </div>

</div>