@import "../../../less/variables.less";

.userList {
    display:flex;
    flex-direction: column;
    border:1px solid royalblue;
    padding:@paddings[sm];
}

.userItem {
    border-bottom: 1px solid purple;
    padding: @paddings[md];
}