<div class="chatContainer">
    <div class="chatUnitHeader">
        <app-user-head [user]="userData.user">
            <div>
                <a (click)="exitChat()" class="close" aria-label="Close">&times;</a>
            </div>
        </app-user-head>
    </div>
    
    <div class="chatFeedWrapper">
        <div class="feed pt-3">
            <div class="cont" *ngFor="let message of userData.messages">
              <app-message 
                [chatMessage]="message"
                [ownContent]="isOwnContent">
            </app-message>
            </div>
        </div>
    </div>
    
    <div class="chatFormWrapper">
        <div class="input-group">
            <input 
              type="text"
              class="form-control"
              (keydown)="onSubmit($event)"
              #inputFieldMsg
              >
            <div class="input-group-append">
                <button class="btn btn-light" (click)="onSend()">
                  <fa-icon [icon]="faPaperPlane"></fa-icon>
                </button>
            </div>
        </div>
    </div>
</div>
