@import './chat-misc.less';
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    border:0;
}

body {
    width:100%;
    min-height:100%;
}

a {
    text-decoration: none;
}