@import "../../less/variables.less";

.chatWrapper {
    display:flex;
    height:100%;
    background: url('../../../../../yada-yada-1432923_1920.jpg') no-repeat center;
    background-size: cover;
}

.chatUnitWrapper {
    width:100%;
    background:white;
    border:1px solid greenyellow;
}