@import "../../less/variables.less";

.chatRoomWrapper {
    display:flex;
    min-height: calc(100vh - 84px); // 84px === header height
}

.friendListWrapper {
    flex:1;
    background:#371851;
    padding: @paddings[lg];
    min-width: 300px;
}

.chatWrapper {
    display: flex;
    flex-direction: row;
    flex: 4;
    background: url('../../../../../yada-yada-1432923_1920.jpg') no-repeat center;
    background-size: cover;
}

.chatUnitWrapper {
    width:100%;
    background:white;
    border:1px solid greenyellow;
}